@model WebApplication2.Models.PostViewModel
@using WebApplication2.Controllers
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = Model.Title;
    if (Model.PostTags != null)
    {
        ViewBag.Keywords = string.Join(" ", Model.PostTags.Select(t => t.Name).ToArray());
    }
    ViewBag.Description = Model.Meta;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script src="~/Scripts/view.js"></script>
    <script src="~/ckeditor/ckeditor.js"></script>
}




<div id="postScroll">
    <div class="postContainer">
        @if (Request.IsAuthenticated)
        {
            <div class="postMenu">
                <div class="postMenuSub">
                    <a href="@Url.Action("EditPost","Blog",new {slug = Model.UrlSeo })" title="Edit"><img src="@Url.Content("~/BlogImages/edit.png")" width="25" height="25" alt="edit" /></a>
                    <a href="@Url.Action("DeletePost","Blog",new {postid = Model.ID })" title="Delete"><img src="@Url.Content("~/BlogImages/delete.png")" width="25" height="25" alt="delete" /></a>
                </div>
            </div>
        }
        <div class=" postHeader">
            @if (Model.ID != Model.FirstPostId)
            {
                @Html.ActionLink("<< Previous", "Post", "Blog", new { slug = Model.PreviousPostSlug, sortorder = ViewBag.CurrentSort }, new { style = "float:left;" })
            }
            @if (Model.ID != Model.LastPostId)
            {
                @Html.ActionLink("Next >>", "Post", "Blog", new { slug = Model.NextPostSlug, sortorder = ViewBag.CurrentSort }, new { style = "float:right;" })
            }

        </div>
        <div class="postTitle"><h2>@Model.Title</h2></div>
        <div class="addthis_sharing_toolbox"></div>
        
        @if (Model.Videos != null)
        {
            foreach (var video in Model.Videos)
            {
                <div class="postVideo">
                    <iframe width="560" height="315" src="@video.VideoUrl" frameborder="0" allowfullscreen></iframe>
                </div>
            }
        }
        @{
            BlogController blgCtrl = new BlogController();
        }
        <div class="postBody">@Html.Raw(Model.Body)</div>
    </div>
    
</div>

