
@using System.Web.Mvc
@using WebApplication2.Models



@{
    ViewBag.Title = "Home Page";
    
}


<style>
    .item {
        background: #333;
        text-align: center;
        height: 300px !important;
    }

    h2 {
        margin: 0;
        color: #888;
        padding-top: 100px;
        font-size: 50px;
    }
    #box {
        /*margin-top:0.5%;
    border:1px solid #888;
    border-radius: 5px 20px 5px;*/
      
        padding: 0.3%;
   margin: 0.7%;
   background: #e64a4a;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #e64a4a, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
    }
      #box1 {
   
        padding: 0.3%;
   margin: 0.7%;
   background: #ffd800;
   color: #fff;
   font-size: 21px;
   font-weight: bold;
   line-height: 1.3em;
   border: 2px dashed #fff;
   border-radius: 10px;
   box-shadow: 0 0 0 4px #ffd800, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
   text-shadow: -1px -1px #aa3030;
   font-weight: normal;
    }
    #logo {
    text-align:center;
    font-size:35px;
    font-family:Narkisim;
    }
</style>


    <div id="DemoCarousel" class="carousel slide " data-interval="2000" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators" >
            <li data-target="#DemoCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#DemoCarousel" data-slide-to="1"></li>
            <li data-target="#DemoCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner " >
            <div class="item active" >
               
                <img src="~/Images/blue ruin.jpg" />
             </div>
            <div class="item">

                <img src="~/Images/graffiti61402467283.jpg" />
             </div>
            <div class="item">

                <img src="~/Images/slide_416506_5292084_free.jpg" />
            </div>
        </div>
        <!-- Carousel Controls -->
        <a class="carousel-control left" href="#DemoCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#DemoCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <div  class="row">
    
       <p id="logo"> You Only Live Once (grapse tipotaaa epikefalida k apo katw ligo logia)  <p> 
    
    </div>

    <ul class="ch-grid">
        <li>
            <div class="ch-item ch-img-1">
                <div class="ch-info">
                    <h3>Contact us</h3>
                    @*<p>by Angela Duncan <a href="http://drbl.in/eOPF">View on Dribbble</a></p>*@
                </div>
            </div>
            <h3>@WebApplication2.Resources.HomeText.Send</h3>
            <p>@WebApplication2.Resources.HomeText.Send_info</p>
            <p> @Html.ActionLink(WebApplication2.Resources.HomeText.Offices, "Offices", "Home", new { @class = "btn btn-default" }) </p>

        </li>
        <li>
            <div class="ch-item ch-img-2">
                <div class="ch-info">
                    <h3>Apply now</h3>
                    <p>by Antonio F. Mondragon <a href="http://drbl.in/eKMi">View on Dribbble</a></p>
                </div>
            </div>
            <h3>@WebApplication2.Resources.HomeText.Be</h3>
            <p>@WebApplication2.Resources.HomeText.Be_info</p>
            <p id="morebut" class=" btn btn-default">@Html.ActionLink(WebApplication2.Resources.HomeText.Form, "ContactForm", "Contact") </p>
        </li>
        <li>
            <div class="ch-item ch-img-3">
                <div class="ch-info">
                    <h3>Explore our world</h3>

                </div>
            </div>
            <h3>@WebApplication2.Resources.HomeText.Check </h3>
            <p>@WebApplication2.Resources.HomeText.Check_info</p>
            <p> @Html.ActionLink(WebApplication2.Resources.HomeText.More, "More", "Home", new { @class = "btn btn-default" }) </p>
        </li>
    </ul>

    <div id="panrow" class="row">

        <div class="col-md-4">
            <a class="twitter-timeline" href="https://twitter.com/hashtag/developer" data-widget-id="663012851112648704">#developer Tweets</a>
        </div>
        <div id="box" class="col-md-6">

            <h3>@WebApplication2.Resources.HomeText.Crew </h3>
            <p>@WebApplication2.Resources.HomeText.Crew_info</p>
            <p> @Html.ActionLink(WebApplication2.Resources.HomeText.Crew, "Partners", "Home", new { @class = "btn btn-default" }) </p>
        </div>
        <div id="box1" class="col-md-6">

            <h3>Blog </h3>
            <p>@WebApplication2.Resources.HomeText.Bloginfo</p>
       
            <p id="morebut"  class=" btn btn-default">@Html.ActionLink("Blog", "Index", "Blog") </p>
    </div>

</div>
<div class="row">


</div>

<script>

    $(document).ready(function () {
        $(".btn btn-default").tooltipster();


        $("#DemoCarousel").carousel();

        //Carousel Controls
        $(".left").click(function () {
            $("#DemoCarousel").carousel('prev');
        });
        $(".right").click(function () {
            $("#DemoCarousel").carousel('next');
        });

        //Carousel Indicators
        $(".slide-1").click(function () {
            $("#DemoCarousel").carousel(0);
        });
        $(".slide-2").click(function () {
            $("#DemoCarousel").carousel(1);
        });
        $(".slide-3").click(function () {
            $("#DemoCarousel").carousel(2);
        });



    });

    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");


</script>
