<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
 
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $(this).children("ul").slideDown(100);
            }, function(){
                $(this).children("ul").slideUp(100);
            });
        });
    </script>

</head>
<body>
   
        <div  class="navbar navbar-fixed-top">
            <div style="background-color:white" class="navbar navbar-inverse ">
                <div>
                    <h5>@DateTime.Today.DayOfWeek ,@DateTime.Now</h5>
                </div>
                <div id="social">
                    <div class="twitter-slide social-slide" onclick="window.location='http://www.twitter.com';"></div>
                    <div class="facebook-slide social-slide " onclick="window.location='http://www.facebook.com';"></div>
                    <div class="google-slide social-slide" onclick="window.location = 'http://plus.google.com';"></div>
                    <div class="linkedin-slide social-slide" onclick="window.location = 'http://linkedin.com';"></div>
                </div>

            </div>
            <div class="navbar navbar-inverse  ">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Stelios Koidakis site", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) @*sto css allazw to font size,mporei n ginei k apo jquery*@
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav ">
                            <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Home, "Index", "Home")</li>
                            <!--Το actionlink μας δίνει τη δυνατότητα να αναζητάμε άλλα view ενδιάμεσο των Controllers  -->
                             <li class="dropdown">
                                <a href="#" class="dropdown-toggle">@WebApplication2.Resources.HomeText.News <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink(WebApplication2.Resources.HomeText.About, "About", "Home")</li>
                                    <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Partners, "Partners", "Home")</li> 
                                    <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Works, "Works", "Home")</li>
                                    <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Philosophy, "Philosophy", "Home")</li>
                                    <li>@Html.ActionLink(WebApplication2.Resources.HomeText.History, "History", "Home")</li>
                                </ul>
                            </li>
                            
                                
                           <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Offices, "Offices", "Home")</li><!--den ekana view -->
                              <li>@Html.ActionLink(WebApplication2.Resources.HomeText.More, "More", "Home")</li>
                            <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Form, "ContactForm", "Contact")</li>
                            <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Language, "Index", "Language")</li>
                            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                        </ul>
                            @if (Request.IsAuthenticated)
                            {
                             @*<li>@Html.ActionLink("Logout", "Logout", "Admin")</li>*@
                                @Html.Partial("_LoginPartial")
                           }
</div>
                </div>
            </div>
        </div>
        @*<div class="container body-content">

            </div>*@
        @RenderBody()
    
        <footer class="footer">
            <div class="container">

               
                    <table class="table-condensed" id="ftable">
                        <thead>
                            <tr id="thead">
                                <td>@WebApplication2.Resources.HomeText.About</td>
                                <td>@WebApplication2.Resources.HomeText.Contact   @WebApplication2.Resources.HomeText.Informations </td>
                                <td>@WebApplication2.Resources.HomeText.Product</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            <tr>
                                <td>@WebApplication2.Resources.HomeText.Telephone :+306981189423</td>
                                <td>@WebApplication2.Resources.HomeText.Larissa @WebApplication2.Resources.HomeText.Hrwwn @WebApplication2.Resources.HomeText.Polutexniou 15</td>
                                <td>Web design</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@DateTime.Now.Year - My ASP.NET Application</td>
                                <td>@WebApplication2.Resources.HomeText.Hour -@WebApplication2.Resources.HomeText.open:9:00-17:00(M-F)</td>
                                <td>Software development</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@WebApplication2.Resources.HomeText.Margaritis @WebApplication2.Resources.HomeText.Thwmas & @WebApplication2.Resources.HomeText.Stelios @WebApplication2.Resources.HomeText.Koidakis </td>
                                <td>margastel@thesis.com</td>
                                <td>Web development</td>
                                <td>
                                    <a href='@Url.Action("Change", "Language", new { LanguageAbbrevation = "el" }, null)'>
                                        <img id="lanpicgr" src="~/Images/greekflag.jpg" />
                                    </a>
                                    <a href='@Url.Action("Change", "Language", new { LanguageAbbrevation = "en" }, null)'>
                                        <img id="lanpicen" src="~/Images/enflag.png" />
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
               
             
        </footer>

        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

</body>
</html>