<style>
    body {
        margin-top:7%;
    }
</style>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
   

    <ul class="nav navbar-nav navbar-right" >
        <li>
            @Html.ActionLink("Hello Admin " + User.Identity.GetUserName() + "!", "Index", "Dashboard", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink("Logout", "Logout", "Admin")</li>
        <li >@Html.ActionLink("Post a job", "Index", "Dashboard")</li>
        <li>@Html.ActionLink("Applies", "Jobs", "Dashboard")</li>
        <li>@Html.ActionLink("Messages", "Messages", "Dashboard")</li>
        <li>@Html.ActionLink("Map", "Map", "Dashboard")</li>
        <li>@Html.ActionLink("Crew", "Crew", "Dashboard")</li>
        <li>@Html.ActionLink("BlogEdit", "AllPosts", "Blog")</li>
     </ul>
    


        }
