<style>
    body {
        /*margin-top:7%;*/
    
        }
  .nav .navbar-nav .navbar-right {
    padding-right:0px;
    }
</style>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
   

    <ul class="nav navbar-nav navbar-right" >
        <li>
            @Html.ActionLink(@WebApplication2.Resources.HomeText.Hello+" " +@WebApplication2.Resources.HomeText.Admin+" " + User.Identity.GetUserName() + "!", "Index", "Dashboard", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Logout, "Logout", "Admin")</li>
        <li >@Html.ActionLink(WebApplication2.Resources.HomeText.Post +" "+ WebApplication2.Resources.HomeText.Job, "Index", "Dashboard")</li>
        <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Applies, "Jobs", "Dashboard")</li>
        <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Messages, "Messages", "Dashboard")</li>
        <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Map, "Map", "Dashboard")</li>
        <li>@Html.ActionLink(WebApplication2.Resources.HomeText.Crew, "Crew", "Dashboard")</li>
        <li>@Html.ActionLink("Blog "+WebApplication2.Resources.HomeText.Edit, "AllPosts", "Blog")</li>
     </ul>
    


        }
