@model WebApplication2.Models.ContactModel

@{
    ViewBag.Title="ContactForm";

}
@Scripts.Render("~/bundles/jquery")


<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("SaveDataContact","Contact", new { @id="Form"},FormMethod.Post))
{
    @Html.ValidationSummary();
    @Html.AntiForgeryToken();


    @Html.LabelFor(model=>model.Name)<br/>
    @Html.TextBoxFor(model => model.Name)<br/>
    @Html.ValidationMessageFor(model => model.Name)<br />

    @Html.LabelFor(model=>model.Email)<br />
    @Html.TextBoxFor(model => model.Email)<br />
    @Html.ValidationMessageFor(model => model.Email)<br />

    @Html.LabelFor(model=>model.Comments)<br />
    @Html.TextAreaFor(model => model.Comments)<br />
    @Html.ValidationMessageFor(model => model.Comments)<br />
    
    <input type="file" name="FileUpload1" /><br />
   
    
    <button type="submit" value="Save" name="Save" >Submit</button>




<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").hover(function () {
            $(this).css("background-color", "yellow");
        }, function () {
            $(this).css("background-color", "");
        });
    });
</script>


}